.film {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & .main {
    & .selectedFilm-image {
      text-align: center;
      img {
        object-fit: contain;
        border-radius: 20px;
        height: 550px;
        border-radius: 50px;
        box-shadow: 2px 3px 30px black;
      }
    }
  }
}
