.carousel{
    width: 80%;
    margin: auto;
    .carousel-item{
        width: 100%;
        display: flex;
        justify-content: center;
        & img{
            width: 100%;
            object-fit: cover;
            min-height: 175px;
            max-height:600px ;
        }
    }
    
    
}

.custom-next-icon{
    border: 1px solid red !important;
}