.carousel{
    width: 80%;
    margin: auto;
    .carousel-item{
        width: 100%;
        display: flex;
        justify-content: center;
        & img{
            width: 100%;
            object-fit: contain;
            height: 550px;
        }
    }
    
    
}

.custom-next-icon{
    border: 1px solid red !important;
}